*{
  margin: 0px;
  padding: 0px;
}

.errores{
  color: #ff0000c9;
  font-size: 13px;
}

.td-button-delete, .td-button-edit, th, td{
  text-align: center;
}

a{
  list-style: none;
  text-decoration: none;
  color: black;
}